<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis6.mapper.UserInfoMapper">

    <!-- 动态SQL之if元素 -->
    <!-- 根据用户名进行模糊查询，如果输入模糊用户名，则查询对应内容，如果没有输入，则查询全部内容 -->
    <select id="findUserInfoByUserNameLike" parameterType="String" resultMap="userInfoMap">
        select * from userinfo t
        <if test="userName != '' and userName != null">
            where t.user_name like concat(concat('%', #{userName}), '%')
        </if>
    </select>
    <!-- 使用resultMap映射结果集 -->
    <resultMap id="userInfoMap" type="UserInfo">
        <id property="id" column="id"/>
        <id property="userCode" column="user_code"/>
        <id property="userName" column="user_name"/>
    </resultMap>

    <!-- 动态SQL之where if元素 -->
    <!-- 根据名字和班级号进行模糊查询，如果输入，返回关联用户信息，如果没有输入，返回所有用户信息 -->
    <select id="findUserInfoByName" parameterType="String" resultMap="userInfoMap2">
        select * from userinfo t
        <where>
            <if test="name != '' and name != null">
                t.name like concat(concat('%', #{name}), '%')
            </if>
            <if test="classId > -1">
                and t.class_id = #{classId}
            </if>
        </where>
    </select>
    <!-- 使用resultMap映射结果集 -->
    <resultMap id="userInfoMap2" type="UserInfo">
        <id property="id" column="id"/>
        <id property="userCode" column="user_code"/>
        <id property="userName" column="user_name"/>
    </resultMap>

    <!--  动态SQL之set if元素  -->
    <!--  更新用户的用户名和密码  -->
    <update id="updateUserInfoUsernameAndPassword" parameterType="UserInfo">
        update userinfo t
        <set>
            <if test="userName != null and userName != ''">
                t.user_name = #{userName},
            </if>
            <if test="password != '' and password != null">
                t.password = #{password}
            </if>
        </set>
        where t.id = #{id}
    </update>
    <!--  根据id查询  -->
    <select id="findUserInfoById" resultMap="userInfoMap3" parameterType="int">
        select * from userinfo t where t.id = #{id}
    </select>
    <!-- 使用resultMap映射结果集 -->
    <resultMap id="userInfoMap3" type="UserInfo">
        <id property="id" column="id"/>
        <id property="userCode" column="user_code"/>
        <id property="userName" column="user_name"/>
    </resultMap>


    <!--  动态SQL之trim元素  -->
    <!--  使用trim元素替代where元素  -->
    <!-- 根据用户姓名进行模糊查询，如果未输入用户姓名，查询所有用户信息 -->
    <select id="findUserInfoByUserNameWithIf_Trim" resultMap="userInfoMap4" parameterType="String">
        select * from userinfo t
        <trim prefix="where" prefixOverrides="and|or">
            <if test="userName != null and userName != ''">
                t.user_name like concat(concat('%', #{userName}), '%')
            </if>
            <if test="status > -1">
                and t.status = #{status}
            </if>
        </trim>
    </select>
    <!-- 使用resultMap映射结果集 -->
    <resultMap id="userInfoMap4" type="UserInfo">
        <id property="id" column="id"/>
        <id property="userCode" column="user_code"/>
        <id property="userName" column="user_name"/>
    </resultMap>

    <!-- 更新用户名及密码 -->
    <update id="updateUserInfoUsernameAndPassword_Trim" parameterType="UserInfo">
        update userinfo t
        <trim prefix="set" suffixOverrides=",">
            <if test="userName != '' and userName != null">
                t.user_name = #{userName},
            </if>
            <if test="password != '' and password != null">
                t.password = #{password}
            </if>
        </trim>
        where t.id = #{id}
    </update>
    
    <!-- 动态SQL之choose、when、otherwise元素 -->
    <!--  choose元素按顺序判断when中的条件是否成立，如果有一个条件成立，则不判断后面条件，无条件成立，执行otherwise中的语句  -->
    <!-- 根据用户名或者status查询用户，userName不为空，执行userName条件，否则执行后续status条件 -->
    <select id="findUserInfo_Choose" parameterType="String" resultMap="userInfoMap5">
        select * from userinfo t
        <where>
            <choose>
                <when test="userName != null and userName != ''">
                    t.user_name like concat(concat('%', #{userName}), '%')
                </when>
                <when test="status > -1">
                    t.status = #{status}
                </when>
                <otherwise></otherwise>
            </choose>
        </where>
    </select>
    <!--  使用resultMao映射结果集  -->
    <resultMap id="userInfoMap5" type="UserInfo">
        <id property="id" column="id"/>
        <result property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <!--  动态SQL之foreach元素  -->
    <!--  foreach元素主要用于迭代元素，主要用于sql语句in关键字后面  -->
    <!--  查询id为1、2、3、4、13的数据  -->
    <select id="findUserInfoByIdList" resultMap="userInfoMap6">
        select * from userinfo t where t.id in
        <foreach collection="list" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </select>
    <!--  使用resultMap映射结果集  -->
    <resultMap id="userInfoMap6" type="UserInfo">
        <id property="id" column="id"/>
        <result property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
    </resultMap>
</mapper>
